<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <canvas id="canvas"></canvas>
  <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
  <script src="/dist/main.js"></script>
</body>
</html>
