<h1 class="main-menu-title">Lasertag!</h1>
<div class="main-menu-content">
  <div class="form-group">
    <label for="game-name">Game name: </label>
    <input type="text" id="game-name" name="game-name">
  </div>
</div>
